@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300/80 dark:bg-gray-700/80 rounded-full 
           hover:bg-gray-400 dark:hover:bg-gray-600 
           transition-colors duration-200;
  }
  
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937; 
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* thumb color */
    border-radius: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #1f2937; /* track color */
  }
}

:root {
  --color-rich-black: 0 8 20;
  --color-oxford-blue: 0 29 61;
  --color-yale-blue: 0 53 102;
  --color-mikado-yellow: 255 195 0;
  --color-gold: 255 214 10;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.25);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-icon {
  animation: spin 1s linear infinite;
}